<a href="https://colab.research.google.com/github/Jay06eng/Machine-Learning/blob/main/LEC_7_SQL_Queries_and_Databases.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Section 1: Import the SQLite Module and Connect to the Database

In [ ]:
import sqlite3

conn = sqlite3.connect('example.db')

# Section 2: Create a Cursor Object

<br>
The cursor acts as a pointer to a specific position within the result set, and you can use it to navigate through the rows and perform various operations.

In [ ]:
cursor = conn.cursor()

#Section 3: SQL Query - CREATE TABLE

In [ ]:
create_table_query = ''' CREATE TABLE IF NOT EXISTS employees (
  id INTEGER PRIMARY KEY,
  name TEXT,
  age INTEGER,
  department TEXT);
'''

cursor.execute(create_table_query)

conn.commit()

the SQL query is insert_data_query, and the sequence of sequences is employee_data.
<br>
There are three question marks (?, ?, ?), indicating that for each row you want to insert into the "employees" table, you need to provide three values corresponding to the "name," "age," and "department" columns.

#Section 4: SQL Query - INSERT INTO

In [ ]:
insert_data_query = "INSERT INTO employees (name, age, department) VALUES (?, ?, ?)"

employee_data = [('Alice', 28, 'HR'),
                 ('Bob', 35, 'Data Science'),
                 ('Charles', 30, 'Marketing')]

cursor.executemany(insert_data_query, employee_data)

conn.commit()

#Section 5: SQL Query - SELECT

In [ ]:
A = cursor.execute("SELECT * FROM employees")

result = cursor.fetchall()
result

[(1, 'Alice', 28, 'HR'),
 (2, 'Bob', 35, 'Data Science'),
 (3, 'Charles', 30, 'Marketing')]

In [ ]:
# SQL Query: Select data from the table
select_data_query = "SELECT * FROM employees;"

# Execute the SELECT query
cursor.execute(select_data_query)

# Fetch all rows from the result set
result = cursor.fetchall()
result

[(1, 'Alice', 28, 'HR'),
 (2, 'Bob', 35, 'Data Science'),
 (3, 'Charles', 30, 'Marketing')]

#Section 6: Close Cursor and Connection

In [ ]:
cursor.close()
conn.close()

In [ ]:
conn = sqlite3.connect('example.db')

Checking tables

In [ ]:
import pandas as pd

query = "SELECT name FROM sqlite_master WHERE type='table';"
tables = pd.read_sql_query(query, conn)
tables

        name
0  employees

SAME THING BUT DIRECT:

In [ ]:
tables = pd.read_sql_query("SELECT name FROM sqlite_master WHERE type='table';", conn)
tables

        name
0  employees

In [ ]:
data = pd.read_sql_query("SELECT * FROM employees;", conn)
data

   id     name  age    department
0   1    Alice   28            HR
1   2      Bob   35  Data Science
2   3  Charles   30     Marketing